body{
    font: 16px times, sans-serif;
    background-color: black;
    color: gold;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 100px;
}
.header a{
    text-decoration: none;
    color: gold;
    padding: 3px;
    font-size: 32px;
}

.judul{
    font-size: 48px;
    color: bisque;
}

.container h2 {
    background-color: aliceblue;
    height: 200px;
    width: 150px;
    margin-left: 50px;
}

.article {
    margin-left: 50px;
    height: 400px;
    width: 380px;
    background-image: url(AlanWake.jpg);
    background-repeat: no-repeat;
}

.article h3 {
    text-align: center;
    color: white;
    font-size: 28px;
}